# PyTorch and GPU
torch
torch

# Core Data & Image Processing
numpy==1.26.4
opencv-python==4.13.0.92
pillow==12.1.1

# Augmentation, Logging, and Utilities
albumentations==1.3.1
pyyaml==6.0.3
tqdm==4.67.3

# Plotting and Data Analysis
matplotlib==3.10.8
seaborn==0.13.2
pandas==2.3.3

# Machine Learning & Tracking
tensorboard==2.20.0
scikit-learn==1.7.2
scikit-image==0.25.2

# System & Architecture Utilities
gitpython==3.1.46
psutil==7.2.2
thop==0.1.1.post2209072238
